@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1240px) {
    /*header*/
    #header {
        width: 100%;

        .headerTop {
            width: 100%;
            padding: 0 var(--side1);
            top: var(--size);
            z-index: 0;

            .headerTopbox {
                width: 100%;
                max-width: 500px;
                margin: auto;
                padding: 0;
            }
        }
    } 

    /*contentsWrap*/
    #contentsWrap {
        padding:  5rem 0 var(--size3);
        
        .contentsBox {
            .cont_Wrapper {
                .contents {
                    padding: 0;

                    .contents_table_box {
                        padding: 0 var(--side1);
                        justify-content: center;
                        overflow-y: scroll;

                        .section_container {
                            width: 100%;
                            max-width: 500px;
                            padding-bottom: 0;

                            .section_box {
                                .contInfo {
                                    .contents_inner_box {
                                        height: auto;
                                        padding-bottom: var(--size3);
                                        overflow-y: visible;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /*story*/
    .storyList{
        .swiper-button-prev, 
        .swiper-button-next {
            display: none;
        }
    }

    /*footer*/
    #footer {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    html, body {
        font-size: 15px;
    }
}

@media screen and (max-width: 520px) {
    /*root*/
    :root {
        /*size*/
        --side: 1rem;
        --side1: 1rem;
    } 
}

@media screen and (max-width: 425px) {
    /*modal*/
    .my_profile_wrap {    
        .my_profile_box {    
            .profileFollowBox {    
                .profileFollow {    
                    .profileFollowBtns {
                        flex-direction: column;
                        gap: 0;
                    }
                }
            }
        }
    }

    /*contents sub page*/
    .contents_table_box2 {
        .contents_container {
            .content_info_box {
                gap: var(--ssize1);
            }
        }
    }
}

@media screen and (max-width: 375px) {
    /*login*/
    .signWrap {
        .signInnerBox {
            min-width: 100%;
        }
    }
}

@media screen and (max-width: 320px) {
    html, body {
        font-size: 14px;
    }
}