@media screen and (max-width: 1440px) {
    /*header*/
    #header {
        .explan {
            display: none;
        }
    } 
}

@media screen and (max-width: 1240px) {
    /*header*/
    #header {
        width: 100%;

        .headerTop {
            width: 100%;
            padding: 0 var(--side1);

            .headerTopbox {
                width: 100%;
                max-width: 500px;
                margin: auto;
                padding: 0;
            }
        }

        .hd_wrap {
            left: -100%;
            padding: 5rem 0 var(--side) 0;
            box-shadow: 1px 1px 10px var(--baseRGB_b);

            #area_util {
                padding: var(--size) var(--side1) var(--side);

                .searchBox {
                    padding: 0 var(--side1);

                    &.on {
                        height: calc(100vh - (5rem + (40px + (var(--size) + var(--side)))));
                    }
                }
            }
            
            .cate2_option_box {
                display: flex !important;
            }
        }
    } 

    /*contentsWrap*/
    #contentsWrap {
        padding:  5rem 0 var(--side) 0;
        
        .contentsBox {
            .cont_Wrapper {
                .contents {
                    padding: 0 var(--side1);

                    .contents_table_box {
                        justify-content: center;

                        .section_container {
                            width: 100%;
                            max-width: 500px;

                            &.sub {
                                display: none;
                            }

                            .section_box {
                                .contInfo {
                                    gap: var(--size);

                                    .contentTopBox {
                                        .contentTopInfo {           
                                            .storyBox {
                                                max-width: none;
                                            }
                                        }
    
                                        .toggleBtn {
                                            display: flex;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .storyList{
            .swiper-button-prev, 
            .swiper-button-next {
                display: none;
            }
        }
    }

    /*footer*/
    #footer {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    html, body {
        font-size: 15px;
    }
}

@media screen and (max-width: 475px) {
    /*root*/
    :root {
        /*size*/
        --side: 1rem;
        --side1: 1rem;
    } 

    #header {
        & .hd_wrap {
            width: 100%;
            
            .hd_box {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    /*login*/
    .signWrap {
        .signInnerBox {
            min-width: 100%;
        }
    }
}

@media screen and (max-width: 320px) {
    html, body {
        font-size: 14px;
    }

    /*header*/
    #header {
        .hd_wrap {
            width: 100%;
        }
    }
}