@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1240px) {
    /*header*/
    #header {
        width: 100%;

        .headerTop {
            width: 100%;
            padding: 0 var(--side1);
            z-index: 0;

            .headerTopbox {
                width: 100%;
                max-width: 500px;
                margin: auto;
                padding: 0;
            }
        }
    } 

    /*contentsWrap*/
    #contentsWrap {
        padding:  5rem 0 var(--side) 0;
        
        .contentsBox {
            .cont_Wrapper {
                .contents {
                    padding: 0 var(--side1);

                    .contents_table_box {
                        justify-content: center;

                        .section_container {
                            width: 100%;
                            max-width: 500px;
                            padding-bottom: var(--size5);

                            .section_box {
                                .contInfo {
                                    .contentTopBox {
                                        .contentTopInfo {           
                                            .storyBox {
                                                max-width: none;
                                            }
                                        }
    
                                        .toggleBtn {
                                            display: flex;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .storyList{
            .swiper-button-prev, 
            .swiper-button-next {
                display: none;
            }
        }
    }

    /*footer*/
    #footer {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    html, body {
        font-size: 15px;
    }
}

@media screen and (max-width: 475px) {
    /*root*/
    :root {
        /*size*/
        --side: 1rem;
        --side1: 1rem;
    } 
}

@media screen and (max-width: 375px) {
    /*login*/
    .signWrap {
        .signInnerBox {
            min-width: 100%;
        }
    }
}

@media screen and (max-width: 320px) {
    html, body {
        font-size: 14px;
    }
}