/*logo*/
.logo {
    width: max-content;
    font-family: var(--fontFamily);

    h1 {
        font-size: var(--size1);
        line-height: var(--lineheight);

        sup {
            font-family: var(--fontFamily1);
            font-size: 0.6em;
            font-weight: normal;
        }
    }
}

/*login*/
.signWrap {
    width: 100vw;
    height: 100vh;
    padding: var(--side) var(--side1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--size5);
    position: relative;

    .signInnerBox {
        min-width: 370px;
        max-width: 370px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--size5);

        .signBox {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--size1);
            padding: var(--size1);
            border-radius: var(--bdrs);
            border: 1px solid var(--colorBd1);

            .signInfoBox {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: var(--size1);

                .loginWrap {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: var(--size1);
        
                    .loginBox {
                        display: flex;
                        flex-direction: column;
                        gap: var(--size);
        
                        .loginInputBox {
                            display: flex;
                            flex-direction: column;
                            gap: var(--ssize);
                            position: relative;
        
                            .loginInput {
                                display: flex;
                                align-items: center;
                                gap: var(--ssize2);
                                border-bottom: 1px solid var(--colorBd1);
                                position: relative;

                                &.regexCK_box {
                                    border-bottom: 1px solid var(--color5);
                                }
        
                                svg {
                                    max-width: var(--size);
                                }
        
                                input.login_input {
                                    font-size: var(--fontSize3);
        
                                    &::placeholder {
                                        text-transform: uppercase;
                                    }
                                }

                                .funcBtn {
                                    svg {
                                        max-width: none;
                                    }
                                }
                            }
                        }
                    }
        
                    .loginBottomBox {
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        text-transform: capitalize;
                    }
                }
        
                .joinBox {
                    width: 100%;
        
                    .joinInfo {
                        padding-top: var(--size1);
                        border-top: 1px solid var(--colorBd1);
                        display: flex;
                        justify-content: center;
                        gap: var(--ssize2);
        
                        .joinTxt {
                            font-size: var(--fontSize3);
                        }
                    }
                }
            }
        }
    }
}

/*header*/
#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--baseBg);
    z-index: 99;

    .headerTop {
        position: absolute;
        top: var(--side);
        left: 0;
        z-index: 1;

        .headerTopbox {
            width: 400px;
            padding: 0 var(--side1);
            display: flex;
            justify-content: space-between;
            align-items: center;

            .contTopRightBox {    
                display: flex;
                justify-content: flex-end;
                gap: var(--size4);
    
                .contTopBtnsBox {
                    position: relative;
    
                    .contTopBtns {
                        display: block;
                        width: var(--size2);
                        height: var(--size2);
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .hd_wrap {
        height: 100vh;
        padding: 7rem 0 var(--side);
        background-color: var(--baseBg);
        position: absolute;
        top: 0;
        left: 0;
        transition: left var(--trst);

        &.on {
            left: 0;
        }

        .hd_box {
            width: 400px;
            height: 100%;
            padding: 0 var(--side1) 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: var(--size1);
            position: relative;
            overflow-y: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;

            .hd_inner_box {
                display: flex;
                flex-direction: column;
                gap: var(--size4);
            }

            #area_music {
                height: 100px;
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .hd_inner {
            width: 100%;
            border-radius: var(--bdrs);

            &#area_gnb {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: var(--ssize1);
            }

            .gnb_btns {
                width: 100%;
                border-radius: var(--bdrs);
                position: relative;

                .gnb_cate1 {
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    gap: var(--ssize2);
                    width: 100%;
                    padding: var(--ssize2);
                    border-radius: var(--bdrs);
                    transition: background-color var(--trst);
                    cursor: pointer;

                    .gnb_cate1_iconBox {
                        width: var(--size4);
                        height: var(--size4);
                        padding: var(--ssize);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: var(--bdrs);
                        overflow: hidden;
                        transition: transform var(--trst);

                        &.gnb_cate1_profile {
                            padding: 0;
                            border: 1px solid var(--baseBg);
                            box-sizing: content-box;
                        }
                    }

                    &:hover {
                        background-color: var(--baseFg1);

                        .gnb_cate1_iconBox {
                            transform: scale(1.1);
                        }
                    }

                    &.on {
                        background-color: var(--baseFg1);

                        .gnb_cate1_iconBox {
                            background-color: var(--color2);

                            svg {
                                stroke: var(--color);
                            }

                            &.gnb_cate1_profile {
                                border-color: var(--color2);
                            }
                        }
                    }
                }
            }
        }

        #area_util {
            width: 100%;
            padding: var(--size) var(--side1) var(--size1);
            background-color: var(--baseBg);
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: var(--size);
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.util_icon_boxs {
    width: var(--size1);
    height: var(--size1);
    padding: var(--ssize);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;

    .language_icons {
        display: flex;
        flex-direction: column;
        gap: var(--ssize2);
        width: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        bottom: 150%;
        left: 50%;
        border-radius: var(--bdrs);
        transform: translateX(-50%);
        cursor: auto;
        z-index: 1;

        .lng_btns {
            max-width: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: var(--ssize);
            border-radius: var(--bdrs);
            cursor: pointer;
        }
    }

    .lng_icon {
        width: 80%;
        border-radius: 50%;
        box-shadow: 1px 1px 3px var(--baseRGB_b);
    }

    &.mo {
        .language_icons {
            flex-direction: row;
        }
    }

    &.on {
        .language_icons {
            width: max-content;
            visibility: visible;
            opacity: 1;
        }
    }

    &.small {
        width: 17px;
        min-width: 17px;
        height: 17px;
        padding: 0;
    }
}

/*contents*/
#contentsWrap {
    width: 100%;
    padding: 2rem 0 var(--side) 400px;
    height: 100vh;
    position: relative;

    .contentsBox {
        width: 100%;
        height: 100%;
        border-radius: 0 0 0 var(--bdrs);
        overflow: hidden;

        .cont_Wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--size);

            .contents {
                width: 100%;
                height: 100%;
                padding-right: var(--side1);

                .contents_table_box {
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: var(--side1);
                    position: relative;

                    .section_container {
                        width: calc(50% - var(--side));
                        height: 100%;
                        padding-bottom: var(--size1);

                        .section_box {
                            width: 100%;
                            height: 100%;

                            .contInfo {
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                
                                .contents_inner_box {
                                    width: 100%;
                                    height: 100%;
                                    overflow-y: scroll;

                                    &::-webkit-scrollbar {
                                        display: none;
                                    }
                                }
                            }
                        }

                        &.sub {
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: var(--side1);
                        }
                    }

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }
        }
    }

    .btns_box {
        display: flex;
        justify-content: flex-end;

        .btns {
            max-width: 200px;
        }
    }
}

/*contents sub page*/
.contents_table_box2 {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;

    .contents_container {
        width: 100%;
        padding: 0 var(--side1);
        overflow-y: scroll;

        .content_info_box {
            width: 100%;
            max-width: 500px;
            padding: 0 0 var(--size6);
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: var(--size1);
            box-sizing: content-box;
        
            .contentInfoBox {
                display: flex;
                flex-direction: column;
                gap: var(--ssize2);
        
                .profile_edit {
                    .profile_thumb {
                        .profile_img_box {
                            width: var(--profileSize);
                            height: var(--profileSize);
                            cursor: pointer;
                        }
                    }
                }
        
                .editInputBox {
                    position: relative;
                    
                    .editInput {
                        padding: var(--ssize1) var(--size6) var(--ssize1) var(--ssize1);
                        border: 1px solid var(--baseRGB_b);
                        border-radius: var(--bdrs);
            
                        &:focus {
                            border-color: var(--baseFg);
                        }
                    }
        
                    .limit_byte {
                        font-size: var(--fontSize4);
                        color: var(--color6);
                        position: absolute;
                        right: var(--size);
                        bottom: var(--ssize1);
                    }
                }
        
                .recentTop {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: var(--fontSize1);
                    font-weight: 600;
                    text-transform: capitalize;
        
                    .TxtBtns {
                        font-size: var(--fontSize3);
                    }
                }


            }
        }

        .searchBox {
            width: 100%;
            background-color: var(--baseBg);

            .searchInfoBox {
                display: flex;
                flex-direction: column;
                gap: var(--size2);

                .searchInputBox {
                    display: flex;
                    gap: var(--ssize);
                    padding: 0 var(--ssize1);
                    background-color: var(--baseFg1);
                    border-radius: var(--bdrs);
                    position: relative;

                    .ico_search {
                        width: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        .searchRecentBox {
            display: flex;
            flex-direction: column;
            gap: var(--size2);
            font-size: var(--fontSize1);
            color: var(--baseFg);

            .searchRecent {
                display: flex;
                flex-direction: column;
                gap: var(--size);

                .recentInfoListWrap{
                    max-height: calc(40vh -  90px);
                    border-radius: var(--bdrs);
                    background-color: var(--baseFg1);
                    overflow-y: scroll;

                    .recentInfoBox {
                        height: 100%;
                        padding: var(--ssize1);
                        display: flex;
                        flex-direction: column;
                        gap: var(--size);
                        overflow-y: scroll;

                        .recentHistoryBox {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: var(--size);
                        
                            .recentInfoList {
                                width: 100%;

                                .recentInfo {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    gap: var(--ssize);

                                    .icon {
                                        width: 15px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }

                                    .historyKeyword {
                                        width: 100%;
                                    }
                                }
                            }

                            .recentDel{
                                width: 20px;
                                height: 20px;
                                position: relative;

                                &::before {
                                    content: '';
                                    display: block;
                                    width: 70%;
                                    height: 1px;
                                    background-color: var(--baseRGB_b1);
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%) rotate(45deg);
                                }

                                &::after {
                                    content: '';
                                    display: block;
                                    width: 70%;
                                    height: 1px;
                                    background-color: var(--baseRGB_b1);
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%) rotate(-45deg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.title_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size);

    .content_title {
        font-size: var(--fontSize7);
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: var(--ssize);

        .back_btn {
            width: var(--size);
            height: var(--size);
            padding: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: rotate(90deg);
        }
    }

    .title_btn {
        width: var(--size4);
        height: var(--size4);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.content_sub_title {
    font-weight: bold;
    text-transform: capitalize;
}

/*story*/
.contentTopBox {
    padding-bottom: var(--size);

    .contentTopInfo {
        height: 80px;

        .storyBox {
            .storyList {
                .listBox {
                    width: 60px;
                    height: 80px;

                    .listThumbnailBox {
                        width: 100%;
                        border: 2px solid var(--color2);
                        border-radius: var(--bdrs);
                        position: relative;

                        &::after {
                            content: '';
                            display: block;
                            padding-bottom: 100%;
                        }

                        .thumbnail_img {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 2px solid transparent;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(var(--translateCenter));
                        }
                    }

                    .listTitle {
                        width: 100%;
                        font-size: 0.75em;
                        padding-top: 0.3em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        text-align: center;

                        &.me {
                            color: var(--baseFg) !important;
                        }
                    }

                    &.onfirmed {
                        .listThumbnailBox {
                            border: 2px solid var(--baseRGB_b);
                        }

                        .listTitle {
                            color: var(--color7);
                        }
                    }
                }

                .swiper-button-prev, .swiper-button-next {
                    top: 50%;
                    transform: translateY(calc(-50% - 10px));
                    margin-top: 0;
                    width: 30px;
                    height: 30px;
                    border-radius: var(--bdrs);
                    border: 1px solid var(--baseRGB_b);
                    box-shadow: 1px 1px 2px rgba(0,0,0,0.35);
                    transition: opacity, visibility var(--trst);
                }

                .swiper-button-next {
                    background: #fff url(/public/images/icon/arrow_right.png) center no-repeat;
                    background-size: 70%;
                }

                .swiper-button-prev {
                    background: #fff url(/public/images/icon/arrow_left.png) center no-repeat;
                    background-size: 70%;
                }

                .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }
}

/*feed*/
.content_feed_wrap {
    width: 100%;
    padding-top: var(--size);
    border-top: 1px solid var(--baseRGB_b);

    .content_list_box {
        display: flex;
        flex-direction: column;

        .content_list {
            margin-bottom: var(--size);
            padding-bottom: var(--size);
            border-bottom: 1px solid var(--baseRGB_b);

            .content_box {
                display: flex;
                flex-direction: column;
                gap:  var(--ssize1);

                .content_top_info {
                    display: flex;
                    justify-content: space-between;

                    .cont_top_box {
                        display: flex;
                        align-items: center;
                        gap: var(--ssize1);

                        .cont_top_info_profile_thumb {
                            .story_check_line{
                                border-radius: var(--bdrs);
                                border: 2px solid transparent;

                                &.on {
                                    border: 2px solid var(--color2);
                                }

                                .profile_thumb_box {
                                    border: 2px solid transparent;

                                    .thumbnail_img {
                                        width: var(--size1);
                                        height: var(--size1);
                                        border-radius: var(--bdrs);
                                    }
                                }
                            }
                        }

                        .cont_top_info_profile {
                            .profile_introduction {
                                width: 100%;
                                max-width: 230px;
                                line-height: 1;
                                display: flex;
                                flex-direction: column;
                                gap: var(--ssize);

                                .userId {
                                    font-size: var(--fontSize3);
                                    font-weight: bold;
                                    display: flex;
                                    align-items: center;
                                    gap: var(--ssize1);

                                    .date {
                                        font-size: var(--fontSize);
                                        font-weight: normal;
                                        color: var(--color7);
                                    }
                                }

                                .userName {
                                    font-size: var(--fontSize);
                                }
                            }
                        }

                        .cont_top_icon_box {
                            width: var(--size4);
                            height: var(--size4);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }

                .content_info {
                    width: 100%;
                    position: relative;

                    &::after {
                        content: '';
                        display: block;
                        padding-bottom: 100%;
                    }

                    .content_info_inner_box {
                        width: 100%;
                        height: 100%;
                        background-color: var(--baseFg);
                        border: 1px solid var(--baseRGB_b);
                        border-radius: var(--bdrs);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(var(--translateCenter));
                    }
                }

                .content_bot_info {
                    .content_bot_info_box {
                        display: flex;
                        flex-direction: column;
                        gap: var(--ssize1);

                        .content_bot_icon_box {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            
                            .icon_box {
                                display: flex;
                                align-items: center;
                                gap: var(--size2);

                                .icon {
                                    width: var(--size4);
                                    height: var(--size4);
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }
                        }

                        .content_bot_caption_box {
                            font-size: var(--fontSize3);

                            .caption_box {
                                display: flex;
                                flex-direction: column;
                                gap: var(--ssize);
                            }
                        }
                    }
                }
            }
        }
    }
}

/*myPage*/
.my_profile_wrap {
    display: flex;
    flex-direction: column;
    gap: var(--size);

    .my_profile_box {
        display: flex;
        gap: var(--size4);

        .profileImgBox {
            width: 15%;
            min-width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &::after {
                content: '';
                display: block;
                padding-bottom: 100%;
            }

            .profileThumb {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .profileFollowBox {
            width: calc(85% - var(--size4));
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .profileFollow {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .profileFollowBtns {
                    display: flex;
                    align-items: center;
                    gap: var(--ssize);

                    .num {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .my_profile_info_box {
        .profile_introduce_box {
            display: flex;
            flex-direction: column;
            gap: var(--ssize1);
            font-size: var(--fontSize3);
            line-height: var(--lineheight);
            text-transform: none;
            white-space: pre-wrap;
    
            .profile_text_box {
                .profile_name {
                    font-weight: bold;
                }
    
                .profile_introduce {
                    line-height: var(--lineheight1);
                    overflow: hidden;
                    cursor: pointer;
                    transition: max-height var(--trst);
    
                    &.on {
                        max-height: 100%;
                    }
    
                    .moreBtn {
                        display: inline-block;
                        width: max-content;
                        font-size: var(--fontSize3);
    
                        .moreTxt {
                            color: var(--color6);
                        }
                    }
                }
            }
        }
    }
}

/*modal*/
.modal_wrap {
    width: 100%;
    max-width: 300px;
    height: max-content;
    padding: var(--size4);
    margin-top: -20px;
    background-color: var(--baseBg);
    border-radius: var(--bdrs);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:  margin var(--trst);
    z-index: 101;

    &.on {
        margin-top: 0;
    }

    .modal_box {
        display: flex;
        flex-direction: column;
        gap: var(--size2);
        font-size: var(--fontSize7);

        .modal_btns_box {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--ssize1);
        }
    }
}

/*dockbar*/
.dockBarWrap {
    width: 100%;
    padding: 0 var(--side1);
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--baseBg);
    border-top: 1px solid var(--baseRGB_b);

    .dockBarBox {
        width: 100%;
        max-width: 500px;
        margin: auto;

        .dockbar {
            padding: var(--size) 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .dockBtns {
                width: var(--size1);
                height: var(--size1);
                padding: var(--ssize);
                border-radius: var(--bdrs);
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                .moreMenuBox {
                    width: max-content;
                    position: absolute;
                    bottom: 170%;
                    left: 0;

                    .moreMenuBtns {
                        width: max-content;
                        padding: var(--ssize1) var(--size);
                        border-radius: var(--bdrs);
                        background-color: var(--baseBg1);
                        box-shadow: 0 0 15px var(--baseBoxShadow);

                        .moreMenu {
                            padding: var(--ssize1) 0;
                            text-transform: capitalize;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: var(--size);

                            .icon {
                                width: var(--size);
                                height: var(--size);
                            }
                        }
                    }
                }

                &.on {
                    background-color: var(--color2);

                    svg {
                        stroke: var(--color);
                    }
                }

                &.dockProfile {
                    padding: 0;
                    border: 2px solid transparent;

                    .profileImg {
                        border-radius: var(--bdrs);
                    }
                }
            }
        }
    }
}

/*swiper*/
.swiper-button-prev:after, .swiper-button-next:after {
    display: none;
}

/*footer*/
#footer {
    position: fixed;
    right: 0;
    bottom: 0;  
    
    .footer_wrap {
        padding: 0 var(--side1) var(--side) 0;

        .footer_box {
            padding: var(--ssize1) 0 0 var(--ssize1);
            background-color: var(--baseBg);
            border-radius: var(--bdrs) 0 0 0;
            position: relative;

            &::before {
                content: '';
                display: inline-block;
                width: 6px;
                height: 6px;
                mask: radial-gradient(circle at 0 0, transparent 90%, #fff 50%); 
                background-color: var(--baseBg);
                position: absolute;
                right: 0;
                bottom: 100%;
            }

            &::after {
                content: '';
                display: inline-block;
                width: 6px;
                height: 6px;
                mask: radial-gradient(circle at 0 0, transparent 90%, #fff 50%); 
                background-color: var(--baseBg);
                position: absolute;
                right: 100%;
                bottom: 0;
            }
        }
    }
}

#footer2 {
    width: 100%;

    .footer_wrap2 {
        display: flex;
        justify-content: center;

        .footer_box2 {
            display: flex;
            flex-direction: column;
            gap: var(--ssize1);

            .ft_util_box {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: var(--ssize2);
            }
        }
    }
}